/node_modules/
/tests-examples/
package-lock.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

user.js
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
